# include "Resource.h"
# include "Windows.h"//AFXRes.h"

WCODE ACCELERATORS DISCARDABLE
BEGIN
	VK_TAB, MODE_BUTTON_ID, CONTROL, VIRTKEY
	VK_TAB, START_FOCUS_ID, SHIFT, VIRTKEY
	"c", IN_CLEAR_BUTTON_ID, ALT, VIRTKEY
	"S", TOGGLE_SUG_ID, ALT, VIRTKEY
	VK_SPACE, OVER_SPACE, ALT, VIRTKEY
	VK_RETURN, CONVERT_BUTTON_ID, ALT, VIRTKEY
	"e", IN_FOCUS, ALT, VIRTKEY
	"x", CSM_CHECK_WINDOW_ID, ALT, VIRTKEY
	"z", MODE_BUTTON_ID, ALT, VIRTKEY
END
