# include <WinResrc.h>
# include "Resource.h"
# include "VersionNo.h"

# define STRINGIFY(X) #X
# define QUOTE_STRINGIFY(X) STRINGIFY(X)

/*
#ifdef _WIN32
LANGUAGE LANG_ENGLISH, 0x10
#pragma code_page(1252)
#endif //_WIN32*/

IDI_WCODE_ICON		ICON				ICON_MAIN_PATH

VS_VERSION_INFO							VERSIONINFO
 FILEVERSION							FILEVER
 PRODUCTVERSION							PRODUCTVER
 FILEFLAGSMASK							VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
 FILEFLAGS								VS_FF_DEBUG
#else
 FILEFLAGS								VS_FF_PRERELEASE
#endif
 FILEOS									VOS__WINDOWS32
 FILETYPE								VFT_APP
 FILESUBTYPE							0x0L

BEGIN
	BLOCK			"StringFileInfo"
	BEGIN
		BLOCK		"040904b0"
		BEGIN
			VALUE	"Comments",										NULL
			VALUE	"CompanyName",		COMPANY_NAME				NULL
			VALUE	"FileDescription",	FILE_DESCRIPTION			NULL
			VALUE	"FileVersion",		QUOTE_STRINGIFY(FILEVER)	NULL
			VALUE	"InternalName",		INTERNAL_NAME				NULL
			VALUE	"LegalCopyright",	LEGAL_COPYRIGHT				NULL
			VALUE	"LegalTrademarks",								NULL
			VALUE	"OriginalFilename",	ORIGINAL_FILENAME			NULL
			VALUE	"PrivateBuild",									NULL
			VALUE	"ProductName",		PRODUCT_NAME				NULL
			VALUE	"ProductVersion",	QUOTE_STRINGIFY(PRODUCTVER)	NULL
			VALUE	"SpecialBuild",									NULL
		END
	END
	BLOCK			"VarFileInfo"
	BEGIN
		VALUE		"Translation",		0x409, 1200
	END
END
